{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}
    {% block cssImports %}
{#        <link rel="stylesheet" href="{% static 'index.css' %}">#}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="card bg-light p-4 ">
                <h3 class="card-title mx-auto " >HOME</h3>
                <div class="card-body">
                    <div>
                        <div class="d-flex justify-content-center mt-4">
                            {% if logged_in == False %}
                            <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">Login</button></a>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            {% if logged_in == True %}
                                <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">Logout</button></a>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <a href="{% url 'test' %}"><button type="button" class="btn btn-secondary">Test</button></a>
                        </div>

                        <div class="d-flex justify-content-center mt-4">
                            <a href="{% url 'register' %}">Not Registered Yet?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>