{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}
    {% block cssImports %}
{#        <link rel="stylesheet" href="{% static 'index.css' %}">#}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container d-flex">
        <div class="mx-auto mt-lg-5" >
            <h2>{{ message }}</h2>
            <div class="text-center py-4">
                <a href="{% url 'home' %}"><button class="btn btn-warning" >Back to Safety</button></a>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>